blender/out/
__pycache__/
video/*/assets/footage/
video/*/assets/music/
video/*/remotion/node_modules/
video/*/remotion/public/
video/*/build/
video/*/out/*.mp4
video/*/build/
video/*/audio/*.wav
video/*/remotion/out/
video/*/thumbnail/*.tif
video/*/thumbnail/preview_*
video/*/thumbnail/*.png
